*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

input{
    display: block;
}

#main{
    padding: 30px;
    height: 100%;
    width: 100%;
    background-color: #222;
}

