*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

input{
    display: block;
}

#main{
    padding: 30px;
    height: 100%;
    width: 100%;
    background-color: #222;
}

.card{
    max-width: 300px;
    color: #fff;
    margin-top: 40px;
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
    border: 1px solid #555;
}

.profile{
    height: 50px;
    width: 50px;
   /*  background-color: red; */
    border-radius: 50%;
    margin-bottom: 7px;
    overflow: hidden;
}

.profile img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card h5{
    margin-top: 3px;
}

.card p{
    font-size: 12px;
    margin-top: 10px;
}